<div class="leaderboard">
    @if (isLoading()) {
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
    } @else {
        <mat-table [dataSource]="dataSource" class="table">
            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.position }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="player">
                <mat-header-cell *matHeaderCellDef>Player</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.player | playerEmail | async }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="points">
                <mat-header-cell *matHeaderCellDef>Points</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.points }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="ratio">
                <mat-header-cell *matHeaderCellDef>Correct</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.correctAnswers }}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    }
</div>
