<div class="leaderboard">
    <table *ngIf="rankings$ | async as rankings" class="advent">
        <tr>
            <td class="advent" style="border:1;">Rank</td>
            <td class="advent" colspan=2>Name</td>
            <td class="advent">Points</td>
        </tr>

        <tr *ngFor="let r of rankings; let i = index" class="advent">
            <td class="advent center">{{i + 1}}</td>
            <td class="advent left" colspan=2>{{r.firstName}} {{r.lastName}}</td>
            <td class="advent center">{{r.points}}</td>
        </tr>
    </table>
</div>
