<div class="modal-header">
    <h4 class="modal-title">Day {{question.time.date()}}</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <ng-container [ngSwitch]="question.text === ''">
        <ng-container *ngSwitchCase="true">
            <p>
                <fa-icon class="row justify-content-center" [icon]="'question'" size="4x"></fa-icon>
            </p>
            <p>
                <button class="btn btn-primary" (click)="onRefreshClick()">
                    <fa-icon [icon]="'sync'"></fa-icon>
                    Refresh
                </button>
            </p>
            <div class="alert alert-info">
                <fa-icon [icon]="'clock'"></fa-icon>
                <span>Opens at {{question.time.format("HH:mm:ss")}}</span></div>
        </ng-container>
        <ng-container *ngSwitchCase="false">
            <ng-container *ngIf="question.showAnswer; then questionTabs else questionSimple"></ng-container>
        </ng-container>
    </ng-container>
</div>

<ng-template #questionSimple>
    <div class="formatted-text" [innerHTML]="question.text | sanitizer"></div>
    <p></p>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form id="answer-form" class="form" role="form" (ngSubmit)="onSubmit()" [formGroup]="answerForm">
                <div class="form-group" [ngSwitch]="isFreeText">
                            <textarea *ngSwitchCase="true"
                                      class="form-control"
                                      [ngClass]="question.showAnswer ? isCorrectAnswer ? 'correct-free-text-answer' : 'incorrect-free-text-answer' : ''"
                                      id="answer" name="answer" rows="1"
                                      placeholder="Your answer"
                                      formControlName="answer" (keypress)="submitOnEnter($event)">
                            </textarea>
                    <ng-container *ngSwitchCase="false">
                        <div *ngFor="let choice of choices; let i = index"
                             [ngClass]="question.showAnswer && choice === question.answer ? 'form-check alert-success' : 'form-check'">
                            <input type="radio"
                                   class="form-check-input"
                                   id="choice-answer-{{i}}" name="answer"
                                   value="{{choice}}"
                                   formControlName="answer">
                            <label style="width: 100%;"
                                   class="form-check-label"
                                   for="choice-answer-{{i}}">{{choice}}</label>
                        </div>
                    </ng-container>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="question.showAnswer && isFreeText && question.answer" class="alert alert-success">
        <fa-icon [icon]="'check'"></fa-icon>
        <span class="formatted-text">{{question.answer}}</span></div>
    <p *ngIf="!question.showAnswer">
        <button type="submit" class="btn btn-primary" form="answer-form"
                [disabled]="isAnswerEmptyOrUnchanged">
            <fa-icon [icon]="'paper-plane'"></fa-icon>
            Save the answer
        </button>
    </p>
    <div *ngIf="saveCounter > 0" class="alert alert-success">
        <fa-icon [icon]="'check'"></fa-icon>
        <span>Your answer was saved <span *ngIf="saveCounter > 1">({{saveCounter}}x)</span>
                </span>
    </div>
    <div *ngIf="saveDate" class="alert alert-info">
        <fa-icon [icon]="'clock'"></fa-icon>
        <span>Saved on {{saveDate.format("DD.MM.YYYY HH:mm:ss")}}</span>
    </div>
</ng-template>

<ng-template #questionTabs>
    <ngb-tabset [type]="'pills'" [justify]="'justified'">
        <ngb-tab title="Question">
            <ng-template ngbTabContent>
                <p></p>
                <ng-container *ngTemplateOutlet="questionSimple"></ng-container>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Answers">
            <ng-template ngbTabContent>
                <jhi-stats [questionId]="question.id"></jhi-stats>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Times">
            <ng-template ngbTabContent>
                <jhi-times [questionId]="question.id"></jhi-times>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</ng-template>
