<div class="finish-main">
  <div class="session">
    <div class="info">
      <div class="alert" *ngIf="keyMissing">
        <strong>The password reset key is missing.</strong>
      </div>

      <div class="alert" *ngIf="error">
        Your password couldn't be reset. Remember a password request is only valid for 24 hours.
      </div>

      <div class="alert" *ngIf="success">
        <span><strong>Your password has been reset.</strong> Please </span>
        <a routerLink="/" class="forgot">sign in</a>.
      </div>

      <div class="alert" *ngIf="doNotMatch">
        The password and its confirmation do not match!
      </div>
    </div>

    <form autocomplete="off" *ngIf="!keyMissing && !success" name="form" role="form" (ngSubmit)="finishReset()" [formGroup]="passwordForm">
      <h4>Reset your password</h4>
      <div class="floating-label">
        <input placeholder="New password" type="password" name="password" id="password" autocomplete="off" formControlName="newPassword" />
        <label for="password">New password:</label>
        <div class="icon">
          <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <style type="text/css">
              .st0 {
                fill: none;
              }
              .st1 {
                fill: #010101;
              }
            </style>
            <rect class="st0" width="24" height="24" />
            <path class="st1" stroke="#ddd" d="M19,21H5V9h14V21z M6,20h12V10H6V20z" />
            <path
              class="st1"
              stroke="#ddd"
              d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z"
            />
            <path
              class="st1"
              stroke="#ddd"
              d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z"
            />
          </svg>
        </div>
      </div>

      <div style="height: 25px;">
        <div style="margin-left: 56px;">
          <ng-container
            *ngIf="
              passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)
            "
          >
            <small class="form-text" *ngIf="passwordForm.get('newPassword').errors.required">
              Your password is required.
            </small>
            <small class="form-text" *ngIf="passwordForm.get('newPassword').errors.minlength">
              Your password is required to be at least 4 characters.
            </small>
            <small class="form-text" *ngIf="passwordForm.get('newPassword').errors.maxlength">
              Your password cannot be longer than 50 characters.
            </small>
          </ng-container>
        </div>
      </div>

      <div class="floating-label">
        <input
          placeholder="Confirm the new password"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          autocomplete="off"
          formControlName="confirmPassword"
        />
        <label for="confirmPassword">Confirm the new password:</label>
        <div class="icon">
          <svg enable-background="new 0 0 24 24" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
            <style type="text/css">
              .st0 {
                fill: none;
              }
              .st1 {
                fill: #010101;
              }
            </style>
            <rect class="st0" width="24" height="24" />
            <path class="st1" stroke="#ddd" d="M19,21H5V9h14V21z M6,20h12V10H6V20z" />
            <path
              class="st1"
              stroke="#ddd"
              d="M16.5,10h-1V7c0-1.9-1.6-3.5-3.5-3.5S8.5,5.1,8.5,7v3h-1V7c0-2.5,2-4.5,4.5-4.5s4.5,2,4.5,4.5V10z"
            />
            <path
              class="st1"
              stroke="#ddd"
              d="m12 16.5c-0.8 0-1.5-0.7-1.5-1.5s0.7-1.5 1.5-1.5 1.5 0.7 1.5 1.5-0.7 1.5-1.5 1.5zm0-2c-0.3 0-0.5 0.2-0.5 0.5s0.2 0.5 0.5 0.5 0.5-0.2 0.5-0.5-0.2-0.5-0.5-0.5z"
            />
          </svg>
        </div>
      </div>
      <div style="height: 25px;">
        <div style="margin-left: 56px;">
          <ng-container
            *ngIf="
              passwordForm.get('confirmPassword').invalid &&
              (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)
            "
          >
            <small class="form-text" *ngIf="passwordForm.get('confirmPassword').errors.required">
              Your password confirmation is required.
            </small>
            <small class="form-text" *ngIf="passwordForm.get('confirmPassword').errors.minlength">
              Your password is required to be at least 4 characters.
            </small>
            <small class="form-text" *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
              Your password cannot be longer than 50 characters.
            </small>
          </ng-container>
        </div>
      </div>

      <button type="submit" [disabled]="passwordForm.invalid">Reset Password</button>

      <p class="forgot">
        <a routerLink="/" class="forgot">Back to login</a>
      </p>
    </form>
  </div>
</div>
