<div>
    <h2>
        <span>Question</span>
        <div ngbDropdown class="d-inline-block float-right">
            <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>Choose a question by date</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button *ngFor="let question of questions" ngbDropdownItem
                        (click)="loadAllAnswers(question)">{{question.time?.format("DD.MM.YYYY HH:mm:ss")}}</button>
            </div>
        </div>
    </h2>
    <div *ngIf="selectedQuestion" class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col"><span>ID</span></th>
                <th scope="col"><span>Text</span></th>
                <th scope="col"><span>Time</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{selectedQuestion.id}}</td>
                <td><a [routerLink]="['/question', selectedQuestion.id, 'view' ]">{{selectedQuestion.text}}</a></td>
                <td>{{selectedQuestion.time?.format("DD.MM.YYYY HH:mm:ss")}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 id="page-heading">Answers</h2>

    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="answers?.length === 0">
        <span>No answers found</span>
    </div>
    <div class="table-responsive" *ngIf="answers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span>ID</span></th>
                <th scope="col"><span>Text</span></th>
                <th scope="col"><span>Time</span></th>
                <th scope="col"><span>Is Correct</span></th>
                <th scope="col"><span>Points</span></th>
                <th scope="col"><span>User</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let answer of answers ;trackBy: trackId">
                <td><a [routerLink]="['/answer', answer.id, 'view' ]">{{answer.id}}</a></td>
                <td>{{answer.text}}</td>
                <td>{{answer.time.format("DD.MM.YYYY HH:mm:ss")}}</td>
                <td>{{answer.isCorrect}}</td>
                <td>{{answer.points}}</td>
                <td>
                    {{answer.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/answer', answer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/answer', answer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(answer)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
