<mat-list>
    @for (message of chatMessages(); track message.id) {
        <mat-list-item>
            <div matListItemTitle>{{ message.text }}</div>
            <div matListItemLine>{{ message?.owner ?? "" | playerEmail | async }}</div>
            <div matListItemLine>{{ message.updatedAt | date: "dd.MM.yyyy HH:mm" }}</div>
        </mat-list-item>
    }

    <mat-form-field>
        <mat-label>Message</mat-label>
        <input #messageText matInput type="text" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onMessageSend(messageText)">Send</button>
</mat-list>
