<div class="rules">
    <div class="rules-container">
        <h2>Rules:</h2>
        <ul>
            <li>
                A question revels every day at 10:00 AM.
            </li>
            <li>
                The winner of the day is a person with the first correct answer.
            </li>
            <li>
                Changing your answer is permitted, but it also changes the submission time of your answer.
            </li>
            <li>
                Hiding, moving or changing a question clue is prohibited.
            </li>
            <li>
                First 5 people with a correct answer are awarded points. Five points for the first one ... one point for the fifth one.
            </li>
            <li>
                The person with the most points wins the main prize.
            </li>
            <!--            <li>-->
            <!--                Ties are decided by (TBD).-->
            <!--            </li>-->
            <li>
                Rules specified in a question take priority over these ones.
            </li>
        </ul>
    </div>
</div>
