<div class="rules">
    <h3>Rules:</h3>
    <ul>
        <li>
            A question opens each day at 10:00.
        </li>
        <li>
            The winner for the day is a person with the first correct answer.
        </li>
        <li>
            Changing your answer is permitted, but it also changes the submission time of your answer.
        </li>
        <li>
            Hiding, moving or changing a question clue is prohibited.
        </li>
        <li>
            First 5 persons with a correct answer for the day are awarded points. Five points for the first one ... one
            point for the fifth one.
        </li>
        <li>
            The person with the most points after the quiz ends wins the main prize.
        </li>
        <li>
            Any ties are decided by (TBD).
        </li>
        <li>
            Any rule specified in a question takes priority over these ones.
        </li>
    </ul>
</div>
