.rules {
  background: #e40050;

  color: #ffffff;
  font-family: Helvetica, Verdana, Arial, Sans-serif, serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-stroke-width: 0.1px;

  // deduct the navbar height
  min-height: calc(100vh - 48px);

  @media (max-width: 991.98px) {
    padding: 2em;
  }
  @media (min-width: 992px) and (max-width: 1366px) {
    padding: 2em 10em;
  }
  padding: 2em 20em;
  text-align: justify;
}

.rules-container {
  @media (max-width: 991.98px) {
    font-size: 9pt;
  }

  @media (min-width: 992px) and (max-width: 1366px) {
    font-size: 12pt;
  }
  font-size: 20pt;
  text-align: justify;
}
