<h2 mat-dialog-title>Day {{ question().day }}</h2>
<mat-dialog-content class="mat-typography">
    @switch (question().state) {
        @case (State.BEFORE) {
            <span>Opens in {{ timeRemaining$ | async }}</span>
        }
        @case (State.OPEN) {
            <div class="whitespace-pre-wrap" [innerHTML]="question().text | sanitizer"></div>
            <div class="flex flex-col">
                <h2>Answer:</h2>
                <mat-form-field>
                    <textarea
                        #answerTextArea
                        [value]="answer()?.text ?? ''"
                        matInput
                        [cdkTextareaAutosize]="true"
                        [disabled]="isLoading()"
                    ></textarea>
                </mat-form-field>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="onSubmitAnswer(answerTextArea.value)"
                    [disabled]="isLoading()"
                >
                    Submit
                </button>
                @if (isLoading()) {
                    <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
                }
                <div class="mt-2">Closes in {{ timeRemaining$ | async }}</div>
            </div>
        }
        @case (State.CLOSED) {
            <div class="whitespace-pre-wrap" [innerHTML]="question().text | sanitizer"></div>

            <div class="flex flex-col">
                <mat-form-field>
                    <textarea
                        [value]="answer()?.text ?? ''"
                        matInput
                        [cdkTextareaAutosize]="true"
                        disabled
                    ></textarea>
                </mat-form-field>
            </div>

            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>task_alt</mat-icon>
                    <span matListItemTitle>Correct answer</span>
                    <span matListItemLine>{{ question().correctAnswer }}</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>military_tech</mat-icon>
                    <span matListItemTitle>Your points</span>
                    @if (!isLoading()) {
                        <span matListItemLine>{{ answer()?.points }} </span>
                    } @else {
                        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
                    }
                </mat-list-item>

                <mat-list-item>
                    <mat-icon matListItemIcon>group</mat-icon>
                    <span matListItemTitle>Players</span>
                    @if (isLoading()) {
                        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
                    }
                    @for (a of answerList(); track a.id) {
                        <span matListItemLine>
                            {{ a.player | playerEmail | async }}
                            @if (a.isCorrect) {
                                <mat-icon class="pt-1.5">done</mat-icon>
                            } @else {
                                <mat-icon class="pt-1.5">close</mat-icon>
                            }
                        </span>
                    }
                </mat-list-item>
            </mat-list>
        }
    }
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
