<h2 mat-dialog-title>Day {{ question().day }}</h2>
<mat-dialog-content class="mat-typography">
    @switch (question().state) {
        @case (State.BEFORE) {
            <span>Opens in {{ timeRemaining$ | async }}</span>
        }
        @case (State.OPEN) {
            <div class="whitespace-pre-wrap" [innerHTML]="question().text | sanitizer"></div>
            <mat-form-field>
                <textarea
                    #answerTextArea
                    [value]="answer()?.text ?? ''"
                    matInput
                    [cdkTextareaAutosize]="true"
                ></textarea>
            </mat-form-field>
            <button mat-raised-button (click)="onSubmitAnswer(answerTextArea.value)">Submit</button>
            <div>Closes in {{ timeRemaining$ | async }}</div>
        }
        @case (State.CLOSED) {
            <div class="whitespace-pre-wrap" [innerHTML]="question().text | sanitizer"></div>
            <div>Correct answer:</div>
            <div class="whitespace-pre-wrap" [innerHTML]="question().correctAnswer | sanitizer"></div>
            <div>Your answer:</div>
            <div>{{ answer()?.text }}</div>
            <div>Points:</div>
            <div>{{ answer()?.points ?? 0 }}</div>
        }
    }
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
