@if (userService.user$ | async; as user) {
    <mat-sidenav-container class="example-container" [autosize]="true">
        <mat-sidenav #drawer class="example-sidenav" mode="over">
            <div class="app-menu">
                <mat-chip class="mx-4" disabled>
                    <mat-icon matChipAvatar>person</mat-icon>
                    {{ user.email }}
                </mat-chip>
                <mat-divider></mat-divider>

                <mat-nav-list>
                    <a mat-list-item routerLink="" (click)="drawer.toggle()">
                        <mat-icon matListItemIcon>park</mat-icon>
                        <div matListItemTitle>Calendar</div>
                    </a>
                    <a mat-list-item routerLink="leaderboard" (click)="drawer.toggle()">
                        <mat-icon matListItemIcon>leaderboard</mat-icon>
                        <div matListItemTitle>Leaderboard</div>
                    </a>
                    <a mat-list-item routerLink="rules" (click)="drawer.toggle()">
                        <mat-icon matListItemIcon>gavel</mat-icon>
                        <div matListItemTitle>Rules</div>
                    </a>
                </mat-nav-list>

                @if (user.isAdmin) {
                    <div class="flex flex-row w-full justify-center items-center">
                        <mat-divider class="flex-1"></mat-divider>
                        <div class="pl-1 pr-1">Admin</div>
                        <mat-divider class="flex-1"></mat-divider>
                    </div>

                    <mat-nav-list>
                        <!--                        <a mat-list-item routerLink="admin/init-questions" (click)="drawer.toggle()">-->
                        <!--                            <mat-icon matListItemIcon>add_circle</mat-icon>-->
                        <!--                            <div matListItemTitle>Create questions</div>-->
                        <!--                        </a>-->
                        <a mat-list-item routerLink="admin/questions" (click)="drawer.toggle()">
                            <mat-icon matListItemIcon>lists</mat-icon>
                            <div matListItemTitle>List questions</div>
                        </a>
                        <a mat-list-item routerLink="admin/files" (click)="drawer.toggle()">
                            <mat-icon matListItemIcon>cloud_upload</mat-icon>
                            <div matListItemTitle>Files</div>
                        </a>
                    </mat-nav-list>
                    <mat-divider></mat-divider>
                }
                <mat-action-list>
                    <button mat-list-item (click)="userService.signOut()">
                        <mat-icon matListItemIcon>logout</mat-icon>
                        <div matListItemTitle>Sign out</div>
                    </button>
                </mat-action-list>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="flex flex-col">
            <mat-toolbar color="primary" class="shrink-0 sticky top-0 z-10">
                <button
                    mat-button
                    (click)="drawer.toggle()"
                    class="btn-menu"
                    [matTooltip]="drawer.opened ? 'Close' : 'Menu'"
                >
                    <mat-icon>lunch_dining</mat-icon>
                </button>
                <h1 class="mat-h1 !mb-0 !ml-2">{{ title$ | async }}</h1>
            </mat-toolbar>

            <main class="container mx-auto px-4">
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
} @else {
    <router-outlet></router-outlet>
}
