.spacer {
    flex: 1 1 auto;
}
.mat-mdc-standard-chip.mdc-evolution-chip--disabled {
    opacity: 1 !important;
}
.example-container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

mat-sidenav-content {
    display: flex;
    height: 100%;
    background-color: #e40050;
}

.example-sidenav {
    padding-top: 24px;
    padding-bottom: 24px;
}

.app-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.app-menu button {
    flex: 1;
    justify-content: flex-start;
}

.mat-sidenav-content {
    padding: 0 32px;
}

.btn-menu {
    color: #fff !important;
    position: fixed;
    z-index: 1000;
    top: 4px;
    left: 4px;
}

.btn-menu mat-icon {
    font-size: 32px;
    width: 32px;
    height: 32px;
}
