<ngb-tabset [destroyOnHide]="false" [justify]="'justified'">
    <ngb-tab title="Answers">
        <ng-template ngbTabContent>
            <div id="answers-chart" style="width: 100%; height: 300px"></div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Times">
        <ng-template ngbTabContent>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Time</th>
                    <th scope="col">User</th>
                    <th scope="col" style="text-align: center">Correct</th>
                    <th scope="col" style="text-align: center">Points</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let at of answerTimesPaged">
                    <th scope="row">{{ at.id }}</th>
                    <td>{{ at.time.format("HH:mm:ss") }}</td>
                    <td>{{ at.user.login}}</td>
                    <td style="text-align: center">
                        <fa-icon [icon]="at.isCorrect ? 'check' : 'times'"></fa-icon>
                    </td>
                    <td style="text-align: center">{{ at.points | number }}</td>
                </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                    <option [ngValue]="4">4 items per page</option>
                    <option [ngValue]="10">10 items per page</option>
                    <option [ngValue]="100">100 items per page</option>
                </select>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
