<h1>Answers for day {{ question()?.day }}</h1>
<div class="flex flex-col gap-2">
    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Question</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="whitespace-pre-wrap" [innerHTML]="question()?.text | sanitizer"></div>
            <div>{{ question()?.correctAnswer }}</div>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="mat-elevation-z8">
        <mat-table matSort matSortActive="saveTime" matSortDirection="asc" [dataSource]="dataSource">
            <ng-container matColumnDef="index">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let index = index"> {{ index + 1 }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="player">
                <mat-header-cell mat-sort-header *matHeaderCellDef>Player</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.player | playerEmail | async }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="text">
                <mat-header-cell *matHeaderCellDef>Text</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.text }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="isCorrect">
                <mat-header-cell mat-sort-header *matHeaderCellDef>Correct</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-slide-toggle
                        [checked]="element.isCorrect"
                        (change)="onIsCorrectToggle(element.id, $event.checked)"
                    ></mat-slide-toggle>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="points">
                <mat-header-cell mat-sort-header *matHeaderCellDef>Points</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    @if (editAnswer?.id === element.id && editAnswer) {
                        <mat-form-field>
                            <input type="number" matInput [(ngModel)]="editAnswer.points" />
                        </mat-form-field>
                    } @else {
                        {{ element.points }}
                    }
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="saveTime">
                <mat-header-cell mat-sort-header *matHeaderCellDef>Time</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    {{ element.saveTime | date: "HH:mm:ss" }}
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    @if (editAnswer?.id !== element.id) {
                        <button mat-icon-button matTooltip="Edit" (click)="onStartEdit(element)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="actionsMenu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #actionsMenu>
                            <button mat-menu-item (click)="onDelete(element.id)">
                                <mat-icon>delete</mat-icon>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    } @else {
                        <button mat-icon-button matTooltip="Cancel" (click)="onStartEdit(undefined)">
                            <mat-icon>close</mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Save" (click)="onUpdate()">
                            <mat-icon>done</mat-icon>
                        </button>
                    }
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
    </div>
    <!--<button class="add-question" mat-raised-button (click)="onCreate()">Add question</button>-->

    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Point distribution</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="flex gap-2">
                <mat-form-field>
                    <mat-label>All points</mat-label>
                    <input #allPoints type="number" matInput value="1000" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Max points per player</mat-label>
                    <input #maxPlayerPoints type="number" matInput value="100" />
                </mat-form-field>
            </div>
            <button
                mat-raised-button
                color="primary"
                (click)="onComputePoints(allPoints.value, maxPlayerPoints.value)"
            >
                Compute points
            </button>
        </mat-expansion-panel>
    </mat-accordion>
</div>
