/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 347px;
  height: 497px;
  background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
  background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (-moz-min-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .hipster {
    background: url('../../content/images/jhipster_family_member_1.svg') no-repeat center top;
    background-size: contain;
  }
}

.quiz {
  background-color: indianred;
  display: flex;
  justify-content: center;
  // TODO: move to the main.component
  // deduct the navbar height
  min-height: calc(100vh - 62px);
}

.quiz-body {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz-day {
  padding: 0 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: whitesmoke;
}

.quiz-day__icon {
}

.quiz-day__label {
  align-self: center;
}
