.quiz {
  margin: 0;
  padding: 0;
  background-color: #e40050;
  color: #ffffff;
  font-family: Helvetica, Verdana, Arial, Sans-serif, serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;

  // deduct the navbar height
  min-height: calc(100vh - 48px);
}

.quiz-container {
  @media (max-width: 1025px) {
    padding: 2em;
  }

  padding: 2em 20em;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: space-around;
}

.quiz-item {
  @media (max-width: 1025px) {
    font-size: 9pt;
    margin: 0.2em 1em;
  }

  margin: 2em 1em;
  line-height: 200%;
  color: white;
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
  cursor: pointer;
}

.quiz-item__disabled {
  opacity: 0.6;
}

.quiz-day__img {
  width: 5em;
}
