<div class="quiz">
    <div class="quiz-container">
        <div *ngFor="let question of questions" class="quiz-item" (click)="answerQuestion(question)">
            <ng-container [ngSwitch]="question.icon && question.icon.startsWith('http')">
                <img class="quiz-day__img" *ngSwitchCase="true" [src]="question.icon">
                <fa-icon *ngSwitchCase="false" [icon]="question.icon" class="fa-3x"></fa-icon>
            </ng-container>
            <div class="quiz-day__label">{{question.time.date()}}</div>
        </div>
    </div>
</div>
