.question-container {
    width: auto;
    height: auto;
    margin: 12px;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: white;
}

.disabled {
    opacity: 0.5;
}

mat-progress-bar {
    margin-top: 12px;
}
