// boxes under 1024px
@media only screen and (max-width: 1280px) {
    .container {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        margin: 24px 0;
    }
    .cube {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: center;
    }
    .face {
        display: flex;
        padding: 12px 0;
    }

    .face img {
        width: 70px;
    }

    .question {
        width: 40%;
    }
}

:host {
    width: 100%;
}

.question-container {
    width: auto;
    height: auto;
    margin: 12px;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 6px;
}

.disabled {
    opacity: 0.5;
}

mat-progress-bar {
    margin-top: 12px;
}
