@mixin box($rotation, $col, $row, $ratio-x, $ratio-y) {
    $x: $col * 130 * $ratio-x;
    $y: $row * 130 * $ratio-y;
    transform: rotateY(#{$rotation}deg) translateZ(100px) translateY(#{$y}px) translateX(#{$x}px);
}

@media only screen and (min-width: 1280px) {
    $ratio-x: 1;
    $ratio-y: 1;
    .container {
        width: 130px;
        height: 130px;
    }
    .container {
        position: relative;
        perspective: 1200px;
        margin: 50px auto 0;
    }

    .cube {
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .face {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    // row 1
    .box1 {
        @include box(0, 0, 0, $ratio-x, $ratio-y);
    }

    // row 2
    .box2 {
        @include box(-9, -0.5, 1, $ratio-x, $ratio-y);
    }

    .box3 {
        @include box(9, 0.5, 1, $ratio-x, $ratio-y);
    }

    // row 3
    .box4 {
        @include box(-7, -1, 2, $ratio-x, $ratio-y);
    }

    .box5 {
        @include box(0, 0, 2, $ratio-x, $ratio-y);
    }

    .box6 {
        @include box(7, 1, 2, $ratio-x, $ratio-y);
    }

    // row 4
    .box7 {
        @include box(-10, -1.5, 3, $ratio-x, $ratio-y);
    }

    .box8 {
        @include box(-4, -0.5, 3, $ratio-x, $ratio-y);
    }

    .box9 {
        @include box(4, 0.5, 3, $ratio-x, $ratio-y);
    }

    .box10 {
        @include box(10, 1.5, 3, $ratio-x, $ratio-y);
    }

    // row 5
    .box11 {
        @include box(-17, -2, 4, $ratio-x, $ratio-y);
    }

    .box12 {
        @include box(-6, -1, 4, $ratio-x, $ratio-y);
    }

    .box13 {
        @include box(0, 0, 4, $ratio-x, $ratio-y);
    }

    .box14 {
        @include box(6, 1, 4, $ratio-x, $ratio-y);
    }

    .box15 {
        @include box(17, 2, 4, $ratio-x, $ratio-y);
    }

    // row 6
    .box16 {
        @include box(-17, -2.5, 5, $ratio-x, $ratio-y);
    }

    .box17 {
        @include box(-12, -1.5, 5, $ratio-x, $ratio-y);
    }

    .box18 {
        @include box(-5, -0.5, 5, $ratio-x, $ratio-y);
    }

    .box19 {
        @include box(5, 0.5, 5, $ratio-x, $ratio-y);
    }

    .box20 {
        @include box(12, 1.5, 5, $ratio-x, $ratio-y);
    }

    .box21 {
        @include box(17, 2.5, 5, $ratio-x, $ratio-y);
    }

    .box22 {
        @include box(5, -3, 4, $ratio-x, $ratio-y);
    }

    .box23 {
        @include box(12, -3.7, 4, $ratio-x, $ratio-y);
    }

    .box24 {
        @include box(-8, 3.2, 4, $ratio-x, $ratio-y);
    }
}
