@if (question) {
    <mat-tab-group>
        <mat-tab label="Results">
            <div class="whitespace-pre-wrap mb-3" [innerHTML]="question.text | sanitizer"></div>

            @if (question.choices) {
                <mat-radio-group class="flex flex-col" [value]="answer()?.text" [disabled]="true">
                    @for (q of question.choices.split("\n"); track q) {
                        <mat-radio-button [value]="q">{{ q }}</mat-radio-button>
                    }
                </mat-radio-group>
            } @else {
                <div class="flex flex-col">
                    <mat-form-field>
                        <textarea
                            [value]="answer()?.text ?? ''"
                            matInput
                            [cdkTextareaAutosize]="true"
                            disabled
                        ></textarea>
                    </mat-form-field>
                </div>
            }

            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>task_alt</mat-icon>
                    <span matListItemTitle>Correct answer</span>
                    <span matListItemLine>{{ question.correctAnswer }}</span>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>military_tech</mat-icon>
                    <span matListItemTitle>Your points</span>
                    @if (!isLoading()) {
                        <span matListItemLine>{{ answer()?.points ?? "Processing" }} </span>
                    } @else {
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    }
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>emoji_events</mat-icon>
                    <span matListItemTitle>Winner</span>
                    @if (question.winner) {
                        <span matListItemLine>{{ question.winner | playerEmail | async }} </span>
                    } @else {
                        <span matListItemLine>No winner yet</span>
                    }
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>group</mat-icon>
                    <span matListItemTitle>Players</span>
                    @if (isLoading()) {
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    }
                    @for (a of answerList(); track a.id) {
                        <span matListItemLine>
                            {{ a.player | playerEmail | async }}
                        </span>
                    }
                </mat-list-item>
            </mat-list>
        </mat-tab>
        <mat-tab label="Lottery">
            @if (lotteryOptions(); as options) {
                <app-wheel [options]="options" (winner)="onWinner($event)"></app-wheel>
                <span>Winner is: {{ winner() }}</span>
                @if ((userService.user$ | async)?.isAdmin) {
                    <button mat-raised-button color="primary" (click)="onSaveWinner()">
                        Save winner
                    </button>
                }
            }
        </mat-tab>
    </mat-tab-group>
} @else {
    <span>No question!</span>
}
