<div class="mat-elevation-z8">
    <mat-table matSort matSortActive="openTime" matSortDirection="asc" [dataSource]="dataSource">
        <ng-container matColumnDef="text">
            <mat-header-cell *matHeaderCellDef> Text</mat-header-cell>
            <mat-cell *matCellDef="let element">
                @if (editQuestion?.id === element.id && editQuestion) {
                    <mat-form-field>
                        <textarea
                            matInput
                            [cdkTextareaAutosize]="true"
                            [(ngModel)]="editQuestion.text"
                        ></textarea>
                    </mat-form-field>
                } @else {
                    <div class="whitespace-pre-wrap" [innerHTML]="element.text | sanitizer"></div>
                }
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="choices">
            <mat-header-cell *matHeaderCellDef> Choices</mat-header-cell>
            <mat-cell *matCellDef="let element">
                @if (editQuestion?.id === element.id && editQuestion) {
                    <mat-form-field>
                        <textarea
                            matInput
                            [cdkTextareaAutosize]="true"
                            [(ngModel)]="editQuestion.choices"
                        ></textarea>
                    </mat-form-field>
                    <mat-icon
                        fontIcon="info"
                        matTooltip="Use a new line (enter) to create multiple choices"
                    ></mat-icon>
                } @else if (element.choices) {
                    <mat-radio-group
                        class="flex flex-col"
                        [disabled]="true"
                        [value]="element.correctAnswer"
                    >
                        @for (q of element.choices.split("\n"); track q) {
                            <mat-radio-button [value]="q">{{ q }}</mat-radio-button>
                        }
                    </mat-radio-group>
                }
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef> Icon</mat-header-cell>
            <mat-cell *matCellDef="let element">
                @if (editQuestion?.id === element.id && editQuestion) {
                    <mat-form-field>
                        <textarea
                            matInput
                            [cdkTextareaAutosize]="true"
                            [(ngModel)]="editQuestion.icon"
                        ></textarea>
                    </mat-form-field>
                } @else {
                    <div class="red-color">
                        <img [ngSrc]="element.icon" alt="" height="64" width="64" priority="high" />
                    </div>
                }
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="correctAnswer">
            <mat-header-cell *matHeaderCellDef> Correct answer</mat-header-cell>
            <mat-cell *matCellDef="let element">
                @if (editQuestion?.id === element.id && editQuestion) {
                    <mat-form-field>
                        <textarea
                            matInput
                            [cdkTextareaAutosize]="true"
                            [(ngModel)]="editQuestion.correctAnswer"
                        ></textarea>
                    </mat-form-field>
                } @else {
                    {{ element.correctAnswer }}
                }
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="openTime">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Open time</mat-header-cell>
            <mat-cell *matCellDef="let element">
                @if (editQuestion?.id === element.id && editQuestion) {
                    <mat-form-field>
                        <textarea
                            matInput
                            [cdkTextareaAutosize]="true"
                            [(ngModel)]="editQuestion.openTime"
                        ></textarea>
                    </mat-form-field>
                } @else {
                    {{ element.openTime | date: "dd.MM.yyyy HH:mm" }}
                }
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="closeTime">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Close time</mat-header-cell>
            <mat-cell *matCellDef="let element">
                @if (editQuestion?.id === element.id && editQuestion) {
                    <mat-form-field>
                        <textarea
                            matInput
                            [cdkTextareaAutosize]="true"
                            [(ngModel)]="editQuestion.closeTime"
                        ></textarea>
                    </mat-form-field>
                } @else {
                    {{ element.closeTime | date: "dd.MM.yyyy HH:mm" }}
                }
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="winner">
            <mat-header-cell mat-sort-header *matHeaderCellDef> Winner</mat-header-cell>
            <mat-cell *matCellDef="let element">
                {{ element.winner | playerEmail | async }}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
            <mat-cell *matCellDef="let element">
                @if (editQuestion?.id !== element.id) {
                    <button mat-icon-button matTooltip="Edit" (click)="onStartEdit(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button
                        mat-icon-button
                        matTooltip="Answers"
                        [routerLink]="['../answers', element.id]"
                    >
                        <mat-icon>group</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="More" [matMenuTriggerFor]="actionsMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actionsMenu>
                        <button mat-menu-item (click)="onDelete(element.id)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                } @else {
                    <button mat-icon-button matTooltip="Cancel" (click)="onStartEdit(undefined)">
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Save" (click)="onUpdate()">
                        <mat-icon>done</mat-icon>
                    </button>
                }
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>
