:host {
    display: flex;
    flex-direction: column;
}
mat-form-field {
    width: 100%;
}

.red-color {
    background-color: #e40050;
}

.mat-column-icon {
    flex: 0 0 90px;
}

.mat-column-actions {
    flex: 0 0 170px;
}

.mat-column-text {
    flex: 0 0 30%;
}
