<div class="reset-main">
  <div class="session">
    <form action="" class="log-in" autocomplete="off" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
      <h4>Reset your password</h4>
      <p>Enter the email address you used to register.</p>
      <div class="floating-label">
        <input placeholder="Email" type="email" name="email" id="email" autocomplete="off" formControlName="email" />
        <label for="email">Email:</label>
        <div class="icon">
          <svg
            enable-background="new 0 0 100 100"
            version="1.1"
            viewBox="0 0 100 100"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
          >
            <style type="text/css">
              .st0 {
                fill: none;
              }
            </style>
            <g transform="translate(0 -952.36)">
              <path
                stroke="#ddd"
                fill="#ddd"
                d="m17.5 977c-1.3 0-2.4 1.1-2.4 2.4v45.9c0 1.3 1.1 2.4 2.4 2.4h64.9c1.3 0 2.4-1.1 2.4-2.4v-45.9c0-1.3-1.1-2.4-2.4-2.4h-64.9zm2.4 4.8h60.2v1.2l-30.1 22-30.1-22v-1.2zm0 7l28.7 21c0.8 0.6 2 0.6 2.8 0l28.7-21v34.1h-60.2v-34.1z"
              />
            </g>
            <rect class="st0" width="100" height="100" />
          </svg>
        </div>
      </div>

      <div style="height: 25px;">
        <div style="margin-left: 56px;">
          <ng-container
            *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)"
          >
            <small class="form-text" *ngIf="resetRequestForm.get('email').errors.required">
              Your email is required.
            </small>
            <small class="form-text" *ngIf="resetRequestForm.get('email').errors.email">
              Your email is invalid.
            </small>
            <small class="form-text" *ngIf="resetRequestForm.get('email').errors.minlength">
              Your email is required to be at least 5 characters.
            </small>
            <small class="form-text" *ngIf="resetRequestForm.get('email').errors.maxlength">
              Your email cannot be longer than 100 characters.
            </small>
          </ng-container>
          <ng-container>
            <small *ngIf="errorEmailNotExists"><strong>Email address isn't registered!</strong></small>
            <small *ngIf="success === 'OK'">Success! Check your emails.</small>
          </ng-container>
        </div>
      </div>

      <button type="submit" [disabled]="resetRequestForm.invalid">Reset</button>

      <p class="forgot">
        <a routerLink="/" class="forgot">Back to login</a>
      </p>
    </form>
  </div>
</div>
