<div>
    <h2 id="page-heading">
        <span>Questions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-question"
                [routerLink]="['/question/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Create a new Question
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="questions?.length === 0">
        <span>No questions found</span>
    </div>
    <div class="table-responsive" *ngIf="questions?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span>ID</span></th>
                <th scope="col"><span>Text</span></th>
                <th scope="col"><span>Choices</span></th>
                <th scope="col"><span>Icon</span></th>
                <th scope="col"><span>Icon preview</span></th>
                <th scope="col"><span>Answer</span></th>
                <th scope="col"><span>Time</span></th>
                <th scope="col"><span>Show Answer</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let question of questions ;trackBy: trackId">
                <td><a [routerLink]="['/question', question.id, 'view' ]">{{question.id}}</a></td>
                <td class="formatted-text">{{question.text}}</td>
                <td class="formatted-text">{{question.choices}}</td>
                <td>
                    {{question.icon}}
                </td>
                <td>
                    <ng-container [ngSwitch]="question.icon && question.icon.includes('.')">
                        <img style="width: 3em; filter: invert(100%); -webkit-filter: invert(100%);"
                             *ngSwitchCase="true" [src]="question.icon">
                        <fa-icon *ngSwitchCase="false" [icon]="question.icon" class="fa-3x"></fa-icon>
                    </ng-container>
                </td>
                <td class="formatted-text">{{question.answer}}</td>
                <td>{{question.time | date:'medium'}}</td>
                <td>{{question.showAnswer}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/question', question.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/question', question.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(question)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
